*{
    box-sizing: border-box;
    
}

.h-container{
    margin: 20px auto;
    background: fuchsia;
    height: 100px;
    
}

.first-container{
    margin: 20px auto;
    background: #b8860b7d;
    height: 300px;

}

