*{
    box-sizing: border-box;
}

/* bloccare scroll */
body{
    margin: 0 60px;
    overflow: hidden;
}

.h-container{
    margin: 20px auto;
    background: fuchsia;
    height: 70px;
    
}

.pre-container{
    margin: 20px auto;
    background: #b8860b7d;
    height: 300px;

}

.main-container{
    margin: 20px auto;
    background: blue;
    height: 450px;

}

/* utility */

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.top-container{
    background: dodgerblue;
    height: 50px;
}

.left-container{
    background: dodgerblue;
    width: 285px;
    height: 380px;
    float: left;
    margin: 10px 0;

}

.middle-container{
    background: dodgerblue;
    width: 776px;
    height: 380px;
    float: left;
    margin: 10px;
    

}

.right-container{
    background: dodgerblue;
    width: 285px;
    height: 380px;
    float: left;
    margin: 10px 0;
}


.f-container{
    margin: 20px auto;
    background: darkviolet;
    height: 30px;
}